:root {
   --first-color: #0e178b;
   --first-alpha-color: #0e178bb3;
   --white-color: #f3f3f3;
   --black-color: #222;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Open Sans", sans-serif;
}

a {
   color: var(--black-color);
   text-decoration: none;
}

img {
   width: 100%;
   height: auto;
}

.return {
   padding: 0.5rem 0.75rem;
   background-color: #f3f3f3;
   outline: none;
   border: thin solid #222;
   border-radius: 5px;
   transition: 0.5s all ease-in-out;
}

.return:hover {
   color: #0b4fce;
   background-color: #fff;
}
