.hero-image {
   width: 100vw;
   min-height: 90vh;
   background-image: url("../../assets/images.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.hero-image-opacity {
   width: 100%;
   min-height: 100vh;
   display: flex;
   justify-content: space-around;
   align-items: center;
   text-align: center;
   background-color: rgba(0, 0, 0, 0.5);
   color: #f3f3f3;
}

/* About */
.about {
   margin-top: 4rem;
   margin-bottom: 2rem;
   text-align: center;
}

.about h2 {
   font-size: 2.2rem;
   margin-bottom: 2rem;
}

.about p {
   line-height: 1.75rem;
   letter-spacing: 1px;
   margin-bottom: 2rem;
}

/* activities */
.activities {
   width: 100%;
   height: 100vh;
   margin-top: 2rem;
   margin-bottom: 2rem;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.activities h2 {
   font-size: 2.2rem;
   margin-bottom: 2rem;
}

.major-activities-container {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(2, 40%);
   grid-template-rows: repeat(2, 1fr);
   gap: 4rem;
   justify-content: space-evenly;
   text-align: center;
}

.major-activities-container h4 {
   padding-bottom: 1rem;
   font-size: 1.15rem;
   font-weight: bold;
   text-align: center;
}

.major-activities-container h2 {
   font-size: 1.3rem;
   font-weight: 600;
}

.major-activities-container svg {
   width: 2rem;
   height: 2rem;
   margin-bottom: 1rem;
}
