select {
   display: inline-block;
   width: 50%;
   padding: 0.5rem 0.75rem;
   cursor: pointer;
}

.create-users button[type="submit"] {
   display: block;
   width: 25%;
   margin: auto;
   margin-bottom: 2rem;
   cursor: pointer;
}
