.nav-bar {
   width: 100vw;
   padding: 1rem 0;
   text-align: center;
   background-color: var(--first-color);
}

.nav-bar ul {
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
   width: 90%;
   max-width: 1200px;
}

.nav-bar ul li {
   display: inline-block;
}

.nav-bar a {
   font-size: 1.2rem;
   font-weight: bolder;
   letter-spacing: 2px;
   color: var(--white-color);
   transition: color 0.3s ease-out;
}

.nav-bar a:hover {
   color: aqua;
}
